.first-color { 
	background: #dbd8e3; 
}
	
.second-color { 
	background: #5c5470; 
}

.third-color { 
	background: #352f44; 
}

.fourth-color { 
	background: #2a2438; 
}

.body-paragraph {
	background: white;
	border: solid;
	border-width: 1px;
	border-color: #2a2438;
	box-shadow: 5px 5px 15px;
	font-size: 18px;
	padding: 10px;
}

.center {
	margin: 0 25%;
}

footer {
	font-size: 12px;
	display: flex;
	justify-content: center;
	margin: 50px 0px 0px 0px;
}

body {
	font-family: Verdana;
	margin: 0;
	background: #dbd8e3;
}

#smiley {
	height: 200px;
}

nav {
	background: #2a2438;
	border-bottom: solid;
	border-bottom-width: 1px;
}

ul {
	margin: 0;
	display: flex;
	justify-content: right;
}

li {
	background: #2a2438;
	display: inline-block;
}

li:hover {
	background: #352f44;
}

li a:hover {
	color: white;
}

li a {
	color: #dbd8e3;
	display: block;
	text-align: center;
	padding: 15px 20px;
	text-decoration: none;
	font-weight: bold;
	font-size: 24px;
}
