body {
	font-family: arial;
	margin: 0;
}

#smiley {
	height: 200px;
}

nav {
	background: #d1ba80;
	border-bottom: solid;
}

nav h1 {
	display: inline;
}

nav li {
	background: #d1ba80;
	display: inline-block;
}

nav li:hover {
	background: #9e8e64;
}

nav li a {
  color: black;
  display: block;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
}